*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* margin: auto; */
    padding-left: 9%;

}
div img{
    height: 250px;
    width: 100%;
}

article{
    height: 57.%;
    width: 20%;
    border: 1px solid  black;
    margin-top: 2%;
    background-color: rgb(243, 244, 246);
}
p{
    display: flex;
    align-items: center;
    height: 73px;
    padding: 10px;
    /* border: 1px solid black; */
    color: rgb(114, 197, 222);
}